{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="{% static 'css/search_single.css'%}">
    <link rel="stylesheet" href="{% static 'css/search_multiple.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Muli" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class='search-container d-flex justify-content-center'>
        <div class="iconwrap d-flex">
            <i class="fa fa-search align-self-center" aria-hidden="true"></i>
            <form action="{% url 'SearchView' %}" id = "searchform" class="form">
                <input type="text" placeholder="Search by Username" class="align-self-center search-res" id="search">
            </form>
        </div>
    </div>
    <div class="add-participants d-flex">
    </div>
    <div class="caption">
        Search results
    </div>
    <div class="search-result">
    </div>
    <div class = 'btncreate text-center'>
        Create Group
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        const me = "{{me|escapejs}}";
        var addedparticipants = []
        function personal(e){
            var track = 0;
            var otheruser = $($(e).children($('.user-name'))[0]).text();
            for(var i = 0; i < addedparticipants.length; i++){
                if(addedparticipants[i] == otheruser){
                    track = 1;
                    break;
                }
            }
            if(track == 0){
                addedparticipants.push(otheruser)
                $('.add-participants').append(
                    '<div class="selected d-flex"><div class="delicon text-center" onclick="remove(this)"><i class="fa fa-times" aria-hidden="true"></i></div><span class="selected-name">' + otheruser + '</span></div>'
                );
            }
            
        }
        function remove(e){
            var elem = $($(e).siblings()[0]).text();
            for(var i = 0; i < addedparticipants.length; i++){
                if(addedparticipants[i] == elem){
                    addedparticipants.splice(i, 1);
                    break;
                }
            }
            $(e).parent().remove();
            console.log(addedparticipants);
        }
        $('#search').keyup(function(){
            var name;
            var spanelem;
            const query = $(this).val();
            $.ajax({
                type : 'GET',
                url : "{% url 'SearchView' %}",
                data : {'search' : query},
                success : function(response){
                    var span;
                    var queryset = JSON.parse(response['result']);
                    $('.search-result').empty();
                    for(var i = 0; i < queryset.length; i++){
                        name = queryset[i]['fields']['username'];
                        if(name == me){
                            continue;
                        }
                        $('.search-result').append(
                            '<div class="results d-flex"><span class="user-icon"></span><div class="user-data align-self-start" onclick="personal(this)"><div class="user-name">' + name + '</div><div class="mood">Hey there I am using SnakApp</div></div></div>'
                        );
                        var x = document.createElement("IMG");
                        x.setAttribute("src", queryset[i]['fields']['profilepic']);
                        spanelem = document.getElementsByClassName("user-icon")[i];
                        spanelem.appendChild(x);
                    }
                    if(response['length'] == 0){
                        $('.search-result').append(
                            '<div class="no-users">No Users found with this username</div>' 
                        );
                        console.log('No items Matched!!');
                    }
                },
                error : function(response){
                    console.log("something bad");
                }
            });
            
        });
        $('.btncreate').click(function(){
            $.ajax({
                type : 'GET',
                url : '{% url "GroupParticipants" %}',
                data : {'participants[]' : addedparticipants},
                success :  function(response){
                    console.log("Yo")
                    window.location.pathname = 'main/group/detail'
                },
                error : function(response){
                    console.log("something bad");
                }
            });
        });
    </script>
</body>
</html>